*{
    margin: 0;
    padding: 0;
    text-align: justify;
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 6px;
}
h1{
    text-align: center;
    font-size: 35px;
}
h2{
    font-size: 28px;
}
p{
    font-size: 24;
}
img{
    border-radius: 10px;
    height: 220px;
    width: 220px;
}
footer button{
    margin-left: 280px;
    background-color: gray;
    margin-top: 60px;
    height: 35px;
    border-radius: 10px;
}
footer h2{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
footer{
    width: 100%;
    height: 150px;
    background-color: rgb(39, 37, 35);
}